body {
    background-image: url(../web/imagenes/fondo_web.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}