body {
    background-image:url(imagenes/fondo_web.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    margin:0;
    font-family:system-ui;
}
/*Diseño del encabezado de la web*/
header {
    background-color:rgba(17, 17, 17, 0.95);
    border-bottom:4px solid #e10600;
    align-items:center;
    padding:15px 30px;
    gap:150px;
}
.logo{
    align-items:center;
    gap:15px;
}
.logo h1 {
    color:white;
    font-size:30px;
}

nav ul {
    align-items:center; 
    margin:0;
    padding:0;
}
nav li {
    display:inline-block;
}
nav a {
    color:white;
    text-decoration:none;
    padding:10px 15px;
    border-radius:4px;
}

/*Diseño del pie de página de la web*/
footer {
    background-color:rgba(17, 17, 17, 0.95);
    border-top:4px solid #e10600; 
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
    font-size:15px;
    font-weight:bold;
}