body {
    background-image: url(../web/imagenes/fondo_web.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}
li{
    background-color: grey;
    display: inline-block;
    width: 16%;
    text-align: center;
    color: white;
}
a{
    color: inherit;
    text-decoration: none;
}